{%- set prevItem = collections.progetti | getPreviousCollectionItem -%}
{%- set nextItem = collections.progetti | getNextCollectionItem -%}
{%- if not prevItem %}{% set prevItem = collections.progetti | last %}{% endif -%}
{%- if not nextItem %}{% set nextItem = collections.progetti | first %}{% endif -%}
<div id="ajax-page" class="ajax-page-content">
    <div class="ajax-page-wrapper">
        <div class="ajax-page-nav">
            <div class="nav-item ajax-page-prev-next">
                <a class="ajax-page-load" href="{{ prevItem.url | replace('/', '') }}"><i class="lnr lnr-chevron-left"></i></a>
                <a class="ajax-page-load" href="{{ nextItem.url | replace('/', '') }}"><i class="lnr lnr-chevron-right"></i></a>
            </div>
            <div class="nav-item ajax-page-close-button">
                <a id="ajax-page-close-button" href="#"><i class="lnr lnr-cross"></i></a>
            </div>
        </div>

        <div class="ajax-page-title">
            <h1>{{ title }}</h1>
        </div>

        <div class="row">
            <div class="col-sm-8 col-md-8 portfolio-block">
                <div class="owl-carousel portfolio-page-carousel">
                    {%- for img in images %}
                    <div class="item">
                        <img src="{{ img }}" alt="{{ title }}" />
                    </div>
                    {%- endfor %}
                </div>

                <script type="text/javascript">
                    jQuery(document).ready(function($){
                        $('.portfolio-page-carousel').imagesLoaded(function(){
                            $('.portfolio-page-carousel').owlCarousel({
                                smartSpeed:1200,
                                items: 1,
                                loop: true,
                                dots: true,
                                nav: true,
                                navText: false,
                                margin: 10,
                                autoHeight:true
                            });
                        });
                    });
                </script>
            </div>

            <div class="col-sm-4 col-md-4 portfolio-block">
                <!-- Project Description -->
                <div class="project-description">
                    <div class="block-title">
                        <h3>Descrizione</h3>
                    </div>
                    <ul class="project-general-info">
                        <li><p><i class="fa fa-user"></i> {{ author or site.name }}</p></li>
                        <li><p><i class="fa fa-calendar"></i> {{ date_label }}</p></li>
                    </ul>

                    <div class="text-justify">
{{ content | safe }}
                    </div>
                    <!-- /Project Description -->

                    <!-- Technology -->
                    <div class="tags-block">
                        <div class="block-title">
                            <h3>Tecnologie <span>utilizzate</span></h3>
                        </div>
                        <ul class="tags">
                            {%- for t in technologies %}
                            <li><a>{{ t }}</a></li>
                            {%- endfor %}
                        </ul>
                    </div>
                    <!-- /Technology -->
                </div>
                <!-- Project Description -->
            </div>
        </div>
    </div>
</div>
