---
layout: layouts/base.njk
menuBase: ""
permalink: index.html
---
          <!-- Arrows Nav -->
          <div class="lmpixels-arrows-nav">
            <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
            <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
          </div>
          <!-- End Arrows Nav -->

          <div class="content-area">
            <div class="animated-sections">
              {% include "sections/home.njk" %}
              {% include "sections/about.njk" %}
              {% include "sections/resume.njk" %}
              {% include "sections/portfolio.njk" %}
              {% include "sections/blog.njk" %}
              {% include "sections/contact.njk" %}
            </div>
          </div>
